h1{



    color: aqua;
    font-family: 'Courier New', Courier, monospace;
}






h2{
    color:blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




#tagline{


    font-family: 'Times New Roman', Times, serif;
    color: chocolate;
   
  
   
    border:aqua;
}

#highlight-box{
color: fuchsia;
 
}


#welcome-msg{
    color: green;
    font-weight: bold;
}


section {
    border: 1px solid #ccc;
    padding: 20px;
}